*{
	margin: 0;
	padding: 0;

}
html{
	scroll-behavior: smooth;;
}
body{
    
	font-family: poppins;
}

/* NAVIGATION */
#nav-bar{
	position: sticky;
	top:0;
	z-index: 8;
}
.navbar-brand img{
	height: 70px;
	padding-left: 30px;
    border-radius: 8%;

}
.navbar-nav li{
	padding: 0 10px;
	color: white;
}
.navbar-nav a{
	float:right;
	text-align:left;
}
#nav-bar ul li a:hover{
	color: #007bff !important;
	text-decoration: overline;
}
.navbar{
	background: #fff;
}
.navbar-toggler{
	border: none !important;
}
.nav-link{
	color: #555 !important;
	font-weight: 600;
	font-size:16px; 

}
.to-top{
	background-color: white;
	position: fixed;
	bottom: 16px;
	right:32px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display:flex;
	align-items: center;
	justify-content: center;
	font-size: 32px;
	color: #1f1f1f;
	text-decoration: none;
	opacity: 0;
	pointer-events: none;
	transition: all .4s;

}
.to-top.active{
	bottom: 32px;
	pointer-events: auto;
	opacity: 1;
}
.load{
  animation: slide 2s;
}
.slider{
  background-size:cover;
  background-attachment:fixed;
  background-repeat:no-repeat;
  background-position:center;
  height:100vh;
  width:100%;
  animation: slide 40s infinite;
}
.content{
  color:#fff;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.5);
}
.principal{
  left:50%;
  top:50%;
  position:absolute;
  transform:translate(-50%,-50%);
  text-align:center;
  letter-spacing:5px;
}
.principal h1{
  font-size: 50px;
}
@keyframes slide{
  0%{
    background-image:url('images/slide3.jpg');
  }
  20%{
    background-image:url('images/slide1.jpg');
  }
  20.01%{
   background-image:url('images/slide2.jpg');
  }
  40%{
    background-image:url('images/slide3.jpg');
  }
  40.01%{
    background-image:url('images/slide4.jpg');
  }
  60%{
    background-image:url('images/slide5.jpg');
  }
  60.01%{
    background-image:url('images/slide6.jpg');
  }
  80%{
    background-image:url('images/slide7.jpg');
  }
  80.01%{
    background-image:url('images/slide1.jpg');
  }
  100%{
    background-image:url('images/slide2.jpg');
  }
}
	
	

.services-area{
	padding: 100px 0;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url('images/bg1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #efefef !important;
    padding-top: 50px;
    padding-bottom: 50px;


}
.services-area h1{
	text-align: center;
	color: #efefef !important; 
    padding-bottom: 10px;
}
.services-area h1::after{
	content: '';
	background: #efefef;
	display: block;
	height: 3px;
	width: 170px;
	margin:20px auto 5px;
}
.single-service{
	text-align: center;
	position: relative;
	margin-bottom: 80px;
	background: #fff;
	padding: 100px 20px 40px;
}
.services{
	margin-top: 50px;
}
.icon-area{
	position: absolute;
	left:50%;
	top: -30px;
	width: 90px;
	height: 90px;
	margin-left: -45px;
    line-height: 90px;
    background: grey;
    font-size: 50px;
    color: white;    
    transition: 	.5s;
    color: white;
}
.single-service:hover .icon-area{
	transform: scale(.8, .8);
}
.icon-area:after{
	content: '';
	width: 111px;
	height: 111px;
	border: 4px solid grey;
	position: absolute;
	top:-10px;
	left: -10px;
	opacity: 0;
	transform: scale(0.8, 0.8);
	transition: .5s;

}
.single-service:hover .icon-area:after{
	opacity: 1;
	transform: scale(1,1);
}
.single-service h3{
	font-size: 20px;
	margin: 0 0 10px 0;
	color: black !important;
}
.single-service p{
	color: black;
}
/* ABOUT */
#about{
	background-color: #F5DED2;
	padding-top: 50px;
	padding-bottom: 50px;
	color: #555;
}
#about .btn{
margin-top: 20px;
margin-bottom: 30px;
}
.about-content{
	padding-top: 20px;
}
.skills-bar p{
	margin-bottom: 6px;
	font-weight: 600;
}
.progress-bar{
	border-radius: 16px;
}
.progress{
	border-radius: 16px !important;
	margin-bottom: 20px;
}
/* GALLERY */
.page-section {
  padding: 6rem 0;
  background: black;
}
.page-section .page-section-heading {
  font-size: 2.25rem;
  line-height: 2rem;
}


.divider-custom {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divider-custom .divider-custom-line {
  width: 100%;
  max-width: 7rem;
  height: 0.25rem;
  background-color: #2c3e50;
  border-radius: 1rem;
  border-color: #2c3e50 !important;
}
.divider-custom .divider-custom-line:first-child {
  margin-right: 1rem;
}
.divider-custom .divider-custom-line:last-child {
  margin-left: 1rem;
}
.divider-custom .divider-custom-icon {
  color: #2c3e50 !important;
  font-size: 1.2rem;
}
.divider-custom.divider-light .divider-custom-line {
  background-color: #fff;
}
.divider-custom.divider-light .divider-custom-icon {
  color: #fff !important;
}

.portfolio .portfolio-item {
  cursor: pointer;
  position: relative;
  display: block;
  max-width: 25rem;
  border-radius: 0.5rem;
  overflow: hidden;
}
.portfolio .portfolio-item .portfolio-item-caption {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  background-color: rgba(20, 8, 176, 0.9);
}
.portfolio .portfolio-item .portfolio-item-caption:hover {
  opacity: 30%;
}
.portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
  font-size: 1.5rem;
}

.portfolio-modal .portfolio-modal-title {
  font-size: 2.25rem;
  line-height: 2rem;
}
.img-fluid:hover{
	opacity: 50%;
}
@media (min-width: 992px) {
  .portfolio-modal .portfolio-modal-title {
    font-size: 3rem;
    line-height: 2.5rem;
      margin-top: 3rem;
  }
}
.portfolio-modal .close {
  position: absolute;
  z-index: 1;
  right: 1.5rem;
  top: 1rem;
  font-size: 1.5rem;
  line-height: 3rem;
  color: #000;
  opacity: 1;
}
/* CONTACT */
.container{
	width: 90%;
	margin: auto;
	overflow: hidden;
}
#contact{
	background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.9)), url('images/slide1.jpg');
	background-size: cover;
	background-position: center;
	height: 100%;
	width: 100%;
	padding-bottom: 2%;
	padding-top: 5%;

}
#contact .container h2{
text-align: center;
text-decoration: underline;
text-underline-position: under;
color: rgb(238,235,235);

}
#contact .container p{
	text-align: center;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 3%;
	color:#fff;
	letter-spacing: 1px;

}
.contact-form i.fa{
	font-size: 22px;
	background-color: none;
	padding: 3%;
	margin: 2%;
	border-radius: 80%;
	cursor: pointer;
	border: 2px solid rgb(190,190,190);
	color: rgb(190,190,190);
}
.contact-form i.fa:hover{
	cursor: pointer;
	border: 2px solid #fff;
	color: #fff;
}
.contact-form{
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 5px;
}
.form-info{
font-size: 16px;
font-style: italic;
color: #fff;
letter-spacing: 2px;
}
input{
	padding: 10px;
	margin: 20px;
	width: 70%;
	background-color: rgba(136,133,133,0.5);
	color: #fff;
	border: none;
	outline: none;
     
}

input::placeholder{
color:#fff;

}
textarea{
	padding: 10px;
	margin: 10px;
	width: 70%;
	background-color: rgba(136,133,133,0.5);
	color: #fff;
	border: none;
	outline: none;
}
textarea::placeholder{
	color: #fff; 
}
.submit{
	width: 40%;
	background: none;
	padding: 4px;
	outline: none;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 1px;
	height: 33px;
	text-align: center;
	cursor: pointer;
	letter-spacing: 2px;
	margin-left: 3%;
	border: 2px solid rgb(190,190,190);
	color: rgb(190,190,190);
}
.submit:hover{
	border: 1px solid #fff;
	color: #fff;
	cursor: pointer;	
}
@media (max-width: 768px){
	#contact .contact-form{
		display: block;
		width: 100%;
		text-align: center;
	}

	#contact-section .submit{
		width: 60%;
	}
}
/*COUNTER */
#review{
	background: black;
	background-size: cover;
	}
.counter-section{
	
	color: #fff;
	margin: 10% auto;

}
.icon-box{
	border: 1px solid #fff;
	height: 100px;
	width: 100px;
	margin: 20px auto;
	transform: rotate(45deg);

}
.icon-box .fa{
	font-size: 40px;
	margin: 25px auto;
	color: #ffc800;
	transform: rotate(-45deg);
}
.counter-box p{
	font-size: 20px;
}
.counter-box .counter{
	font-size: 80px; 
}